<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>brand</key>
			<string>格力</string>
			<key>indexs</key>
			<array>
				<integer>0</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
				<integer>25</integer>
				<integer>26</integer>
				<integer>27</integer>
				<integer>28</integer>
				<integer>29</integer>
				<integer>30</integer>
				<integer>31</integer>
				<integer>32</integer>
				<integer>33</integer>
				<integer>34</integer>
				<integer>35</integer>
				<integer>36</integer>
				<integer>37</integer>
				<integer>38</integer>
				<integer>39</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>海尔</string>
			<key>indexs</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>美的</string>
			<key>indexs</key>
			<array>
				<integer>40</integer>
				<integer>41</integer>
				<integer>42</integer>
				<integer>43</integer>
				<integer>44</integer>
				<integer>45</integer>
				<integer>46</integer>
				<integer>47</integer>
				<integer>48</integer>
				<integer>49</integer>
				<integer>50</integer>
				<integer>51</integer>
				<integer>52</integer>
				<integer>53</integer>
				<integer>54</integer>
				<integer>55</integer>
				<integer>56</integer>
				<integer>57</integer>
				<integer>58</integer>
				<integer>59</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>长虹</string>
			<key>indexs</key>
			<array>
				<integer>60</integer>
				<integer>61</integer>
				<integer>62</integer>
				<integer>63</integer>
				<integer>64</integer>
				<integer>65</integer>
				<integer>66</integer>
				<integer>67</integer>
				<integer>68</integer>
				<integer>69</integer>
				<integer>70</integer>
				<integer>71</integer>
				<integer>72</integer>
				<integer>73</integer>
				<integer>74</integer>
				<integer>75</integer>
				<integer>76</integer>
				<integer>77</integer>
				<integer>78</integer>
				<integer>79</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>志高</string>
			<key>indexs</key>
			<array>
				<integer>80</integer>
				<integer>81</integer>
				<integer>82</integer>
				<integer>83</integer>
				<integer>84</integer>
				<integer>85</integer>
				<integer>86</integer>
				<integer>87</integer>
				<integer>88</integer>
				<integer>89</integer>
				<integer>90</integer>
				<integer>91</integer>
				<integer>92</integer>
				<integer>93</integer>
				<integer>94</integer>
				<integer>95</integer>
				<integer>96</integer>
				<integer>97</integer>
				<integer>98</integer>
				<integer>99</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>华宝</string>
			<key>indexs</key>
			<array>
				<integer>100</integer>
				<integer>101</integer>
				<integer>102</integer>
				<integer>103</integer>
				<integer>104</integer>
				<integer>105</integer>
				<integer>106</integer>
				<integer>107</integer>
				<integer>108</integer>
				<integer>109</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>科龙</string>
			<key>indexs</key>
			<array>
				<integer>110</integer>
				<integer>111</integer>
				<integer>112</integer>
				<integer>113</integer>
				<integer>114</integer>
				<integer>115</integer>
				<integer>116</integer>
				<integer>117</integer>
				<integer>118</integer>
				<integer>119</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>TCL</string>
			<key>indexs</key>
			<array>
				<integer>120</integer>
				<integer>121</integer>
				<integer>122</integer>
				<integer>123</integer>
				<integer>124</integer>
				<integer>125</integer>
				<integer>126</integer>
				<integer>127</integer>
				<integer>128</integer>
				<integer>129</integer>
				<integer>130</integer>
				<integer>131</integer>
				<integer>132</integer>
				<integer>133</integer>
				<integer>134</integer>
				<integer>135</integer>
				<integer>136</integer>
				<integer>137</integer>
				<integer>138</integer>
				<integer>139</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>格兰仕</string>
			<key>indexs</key>
			<array>
				<integer>140</integer>
				<integer>141</integer>
				<integer>142</integer>
				<integer>143</integer>
				<integer>144</integer>
				<integer>145</integer>
				<integer>146</integer>
				<integer>147</integer>
				<integer>148</integer>
				<integer>149</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>华凌</string>
			<key>indexs</key>
			<array>
				<integer>150</integer>
				<integer>151</integer>
				<integer>152</integer>
				<integer>153</integer>
				<integer>154</integer>
				<integer>155</integer>
				<integer>156</integer>
				<integer>157</integer>
				<integer>158</integer>
				<integer>159</integer>
				<integer>160</integer>
				<integer>161</integer>
				<integer>162</integer>
				<integer>163</integer>
				<integer>164</integer>
				<integer>165</integer>
				<integer>166</integer>
				<integer>167</integer>
				<integer>168</integer>
				<integer>169</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>春兰</string>
			<key>indexs</key>
			<array>
				<integer>170</integer>
				<integer>171</integer>
				<integer>172</integer>
				<integer>173</integer>
				<integer>174</integer>
				<integer>175</integer>
				<integer>176</integer>
				<integer>177</integer>
				<integer>178</integer>
				<integer>179</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>奥克斯</string>
			<key>indexs</key>
			<array>
				<integer>180</integer>
				<integer>181</integer>
				<integer>182</integer>
				<integer>183</integer>
				<integer>184</integer>
				<integer>185</integer>
				<integer>186</integer>
				<integer>187</integer>
				<integer>188</integer>
				<integer>189</integer>
				<integer>190</integer>
				<integer>191</integer>
				<integer>192</integer>
				<integer>193</integer>
				<integer>194</integer>
				<integer>195</integer>
				<integer>196</integer>
				<integer>197</integer>
				<integer>198</integer>
				<integer>199</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>三钻</string>
			<key>indexs</key>
			<array>
				<integer>190</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>长风</string>
			<key>indexs</key>
			<array>
				<integer>190</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>新科</string>
			<key>indexs</key>
			<array>
				<integer>200</integer>
				<integer>201</integer>
				<integer>202</integer>
				<integer>203</integer>
				<integer>204</integer>
				<integer>205</integer>
				<integer>206</integer>
				<integer>207</integer>
				<integer>208</integer>
				<integer>209</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>澳柯玛</string>
			<key>indexs</key>
			<array>
				<integer>210</integer>
				<integer>211</integer>
				<integer>212</integer>
				<integer>213</integer>
				<integer>214</integer>
				<integer>215</integer>
				<integer>216</integer>
				<integer>217</integer>
				<integer>218</integer>
				<integer>219</integer>
				<integer>220</integer>
				<integer>221</integer>
				<integer>222</integer>
				<integer>223</integer>
				<integer>224</integer>
				<integer>225</integer>
				<integer>226</integer>
				<integer>227</integer>
				<integer>228</integer>
				<integer>229</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>海信</string>
			<key>indexs</key>
			<array>
				<integer>230</integer>
				<integer>231</integer>
				<integer>232</integer>
				<integer>233</integer>
				<integer>234</integer>
				<integer>235</integer>
				<integer>236</integer>
				<integer>237</integer>
				<integer>238</integer>
				<integer>239</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>飞鹿</string>
			<key>indexs</key>
			<array>
				<integer>240</integer>
				<integer>241</integer>
				<integer>242</integer>
				<integer>243</integer>
				<integer>244</integer>
				<integer>245</integer>
				<integer>246</integer>
				<integer>247</integer>
				<integer>248</integer>
				<integer>249</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>东宝</string>
			<key>indexs</key>
			<array>
				<integer>250</integer>
				<integer>251</integer>
				<integer>252</integer>
				<integer>253</integer>
				<integer>254</integer>
				<integer>255</integer>
				<integer>256</integer>
				<integer>257</integer>
				<integer>258</integer>
				<integer>259</integer>
				<integer>260</integer>
				<integer>261</integer>
				<integer>262</integer>
				<integer>263</integer>
				<integer>264</integer>
				<integer>265</integer>
				<integer>266</integer>
				<integer>267</integer>
				<integer>268</integer>
				<integer>269</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>东新宝</string>
			<key>indexs</key>
			<array>
				<integer>260</integer>
				<integer>261</integer>
				<integer>262</integer>
				<integer>263</integer>
				<integer>264</integer>
				<integer>265</integer>
				<integer>266</integer>
				<integer>267</integer>
				<integer>268</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>新飞</string>
			<key>indexs</key>
			<array>
				<integer>270</integer>
				<integer>271</integer>
				<integer>272</integer>
				<integer>273</integer>
				<integer>274</integer>
				<integer>275</integer>
				<integer>276</integer>
				<integer>277</integer>
				<integer>278</integer>
				<integer>279</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>GLEE</string>
			<key>indexs</key>
			<array>
				<integer>280</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>huawei</string>
			<key>indexs</key>
			<array>
				<integer>281</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>JOHNSO</string>
			<key>indexs</key>
			<array>
				<integer>282</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>KT02_D001</string>
			<key>indexs</key>
			<array>
				<integer>283</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>KT02_D002</string>
			<key>indexs</key>
			<array>
				<integer>284</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>KTY001</string>
			<key>indexs</key>
			<array>
				<integer>285</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>KTY003</string>
			<key>indexs</key>
			<array>
				<integer>287</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>KTY004</string>
			<key>indexs</key>
			<array>
				<integer>288</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>KTY005</string>
			<key>indexs</key>
			<array>
				<integer>289</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>SOGO</string>
			<key>indexs</key>
			<array>
				<integer>291</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>爱德龙</string>
			<key>indexs</key>
			<array>
				<integer>293</integer>
				<integer>294</integer>
				<integer>295</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>爱特</string>
			<key>indexs</key>
			<array>
				<integer>296</integer>
				<integer>297</integer>
				<integer>298</integer>
				<integer>299</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>奥力</string>
			<key>indexs</key>
			<array>
				<integer>300</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>澳科</string>
			<key>indexs</key>
			<array>
				<integer>301</integer>
				<integer>302</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>白雪</string>
			<key>indexs</key>
			<array>
				<integer>299</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>高士达</string>
			<key>indexs</key>
			<array>
				<integer>303</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>北京京电</string>
			<key>indexs</key>
			<array>
				<integer>304</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>波尔卡</string>
			<key>indexs</key>
			<array>
				<integer>305</integer>
				<integer>306</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>波乐</string>
			<key>indexs</key>
			<array>
				<integer>307</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>波士高</string>
			<key>indexs</key>
			<array>
				<integer>308</integer>
				<integer>309</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>博士</string>
			<key>indexs</key>
			<array>
				<integer>310</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>彩星</string>
			<key>indexs</key>
			<array>
				<integer>311</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>长岭</string>
			<key>indexs</key>
			<array>
				<integer>312</integer>
				<integer>313</integer>
				<integer>314</integer>
				<integer>315</integer>
				<integer>316</integer>
				<integer>317</integer>
				<integer>318</integer>
				<integer>319</integer>
				<integer>320</integer>
				<integer>321</integer>
				<integer>322</integer>
				<integer>323</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>诚远/维修版</string>
			<key>indexs</key>
			<array>
				<integer>324</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>创华</string>
			<key>indexs</key>
			<array>
				<integer>325</integer>
				<integer>326</integer>
				<integer>327</integer>
				<integer>328</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>大金星</string>
			<key>indexs</key>
			<array>
				<integer>329</integer>
				<integer>330</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>大拇指</string>
			<key>indexs</key>
			<array>
				<integer>331</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>冬夏</string>
			<key>indexs</key>
			<array>
				<integer>334</integer>
				<integer>335</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>盾安</string>
			<key>indexs</key>
			<array>
				<integer>336</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>高路华</string>
			<key>indexs</key>
			<array>
				<integer>337</integer>
				<integer>338</integer>
				<integer>339</integer>
				<integer>340</integer>
				<integer>341</integer>
				<integer>342</integer>
				<integer>343</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>格尔</string>
			<key>indexs</key>
			<array>
				<integer>342</integer>
				<integer>343</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>古桥</string>
			<key>indexs</key>
			<array>
				<integer>344</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>光大</string>
			<key>indexs</key>
			<array>
				<integer>345</integer>
				<integer>346</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>华高</string>
			<key>indexs</key>
			<array>
				<integer>348</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>黄河</string>
			<key>indexs</key>
			<array>
				<integer>353</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>汇丰</string>
			<key>indexs</key>
			<array>
				<integer>354</integer>
				<integer>355</integer>
				<integer>356</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>东洋汇丰</string>
			<key>indexs</key>
			<array>
				<integer>357</integer>
				<integer>360</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>佳乐</string>
			<key>indexs</key>
			<array>
				<integer>358</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>杰士达</string>
			<key>indexs</key>
			<array>
				<integer>360</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>金松</string>
			<key>indexs</key>
			<array>
				<integer>363</integer>
				<integer>364</integer>
				<integer>365</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>康佳</string>
			<key>indexs</key>
			<array>
				<integer>366</integer>
				<integer>367</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>UNI_AIR</string>
			<key>indexs</key>
			<array>
				<integer>368</integer>
				<integer>369</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>康丽</string>
			<key>indexs</key>
			<array>
				<integer>368</integer>
				<integer>369</integer>
				<integer>370</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>蓝波</string>
			<key>indexs</key>
			<array>
				<integer>371</integer>
				<integer>372</integer>
				<integer>373</integer>
				<integer>374</integer>
				<integer>375</integer>
				<integer>376</integer>
				<integer>377</integer>
				<integer>378</integer>
				<integer>379</integer>
				<integer>380</integer>
				<integer>381</integer>
				<integer>382</integer>
				<integer>383</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>乐华</string>
			<key>indexs</key>
			<array>
				<integer>383</integer>
				<integer>384</integer>
				<integer>385</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>利凯尔</string>
			<key>indexs</key>
			<array>
				<integer>386</integer>
				<integer>387</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>宁波惠康</string>
			<key>indexs</key>
			<array>
				<integer>391</integer>
				<integer>392</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>七星</string>
			<key>indexs</key>
			<array>
				<integer>393</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>日彩</string>
			<key>indexs</key>
			<array>
				<integer>394</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>日江</string>
			<key>indexs</key>
			<array>
				<integer>395</integer>
				<integer>396</integer>
				<integer>397</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>日索</string>
			<key>indexs</key>
			<array>
				<integer>398</integer>
				<integer>399</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>沙美</string>
			<key>indexs</key>
			<array>
				<integer>400</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>山星</string>
			<key>indexs</key>
			<array>
				<integer>401</integer>
				<integer>402</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>上菱</string>
			<key>indexs</key>
			<array>
				<integer>403</integer>
				<integer>404</integer>
				<integer>405</integer>
				<integer>406</integer>
				<integer>407</integer>
				<integer>408</integer>
				<integer>409</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>绅宝</string>
			<key>indexs</key>
			<array>
				<integer>410</integer>
				<integer>411</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>胜风</string>
			<key>indexs</key>
			<array>
				<integer>412</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>胜风飞鹿</string>
			<key>indexs</key>
			<array>
				<integer>413</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>帅康</string>
			<key>indexs</key>
			<array>
				<integer>414</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>双菱</string>
			<key>indexs</key>
			<array>
				<integer>415</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>双鹿</string>
			<key>indexs</key>
			<array>
				<integer>416</integer>
				<integer>417</integer>
				<integer>418</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>松星</string>
			<key>indexs</key>
			<array>
				<integer>419</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>索伊</string>
			<key>indexs</key>
			<array>
				<integer>421</integer>
				<integer>422</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>天元</string>
			<key>indexs</key>
			<array>
				<integer>425</integer>
				<integer>426</integer>
				<integer>427</integer>
				<integer>428</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>万宝</string>
			<key>indexs</key>
			<array>
				<integer>431</integer>
				<integer>432</integer>
				<integer>433</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>威力</string>
			<key>indexs</key>
			<array>
				<integer>434</integer>
				<integer>435</integer>
				<integer>436</integer>
				<integer>437</integer>
				<integer>438</integer>
				<integer>439</integer>
				<integer>440</integer>
				<integer>441</integer>
				<integer>442</integer>
				<integer>443</integer>
				<integer>553</integer>
				<integer>554</integer>
				<integer>555</integer>
				<integer>556</integer>
				<integer>557</integer>
				<integer>558</integer>
				<integer>559</integer>
				<integer>560</integer>
				<integer>561</integer>
				<integer>562</integer>
				<integer>563</integer>
				<integer>564</integer>
				<integer>565</integer>
				<integer>566</integer>
				<integer>567</integer>
				<integer>568</integer>
				<integer>569</integer>
				<integer>570</integer>
				<integer>571</integer>
				<integer>572</integer>
				<integer>573</integer>
				<integer>574</integer>
				<integer>575</integer>
				<integer>576</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>威特力</string>
			<key>indexs</key>
			<array>
				<integer>444</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>雾峰</string>
			<key>indexs</key>
			<array>
				<integer>445</integer>
				<integer>446</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>西格玛</string>
			<key>indexs</key>
			<array>
				<integer>447</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>西冷</string>
			<key>indexs</key>
			<array>
				<integer>448</integer>
				<integer>449</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>先科</string>
			<key>indexs</key>
			<array>
				<integer>450</integer>
				<integer>451</integer>
				<integer>452</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>小天鹅</string>
			<key>indexs</key>
			<array>
				<integer>453</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>小鸭</string>
			<key>indexs</key>
			<array>
				<integer>454</integer>
				<integer>455</integer>
				<integer>456</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>新乐</string>
			<key>indexs</key>
			<array>
				<integer>457</integer>
				<integer>458</integer>
				<integer>459</integer>
				<integer>460</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>新凌</string>
			<key>indexs</key>
			<array>
				<integer>461</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>星和</string>
			<key>indexs</key>
			<array>
				<integer>462</integer>
				<integer>463</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>熊猫</string>
			<key>indexs</key>
			<array>
				<integer>464</integer>
				<integer>465</integer>
				<integer>466</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>扬子</string>
			<key>indexs</key>
			<array>
				<integer>467</integer>
				<integer>468</integer>
				<integer>469</integer>
				<integer>470</integer>
				<integer>471</integer>
				<integer>44</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>耀马</string>
			<key>indexs</key>
			<array>
				<integer>470</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>伊莱克斯</string>
			<key>indexs</key>
			<array>
				<integer>471</integer>
				<integer>472</integer>
				<integer>473</integer>
				<integer>474</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>迎燕</string>
			<key>indexs</key>
			<array>
				<integer>475</integer>
				<integer>476</integer>
				<integer>477</integer>
				<integer>478</integer>
				<integer>479</integer>
				<integer>480</integer>
				<integer>481</integer>
				<integer>482</integer>
				<integer>483</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>玉兔</string>
			<key>indexs</key>
			<array>
				<integer>484</integer>
				<integer>485</integer>
				<integer>486</integer>
				<integer>487</integer>
				<integer>488</integer>
				<integer>489</integer>
				<integer>490</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>中意</string>
			<key>indexs</key>
			<array>
				<integer>493</integer>
				<integer>494</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>佐丹</string>
			<key>indexs</key>
			<array>
				<integer>495</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>NISO</string>
			<key>indexs</key>
			<array>
				<integer>497</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>三洋,NEC</string>
			<key>indexs</key>
			<array>
				<integer>500</integer>
				<integer>501</integer>
				<integer>502</integer>
				<integer>503</integer>
				<integer>504</integer>
				<integer>505</integer>
				<integer>506</integer>
				<integer>507</integer>
				<integer>508</integer>
				<integer>509</integer>
				<integer>510</integer>
				<integer>511</integer>
				<integer>512</integer>
				<integer>513</integer>
				<integer>514</integer>
				<integer>515</integer>
				<integer>516</integer>
				<integer>517</integer>
				<integer>518</integer>
				<integer>519</integer>
				<integer>520</integer>
				<integer>521</integer>
				<integer>522</integer>
				<integer>523</integer>
				<integer>524</integer>
				<integer>525</integer>
				<integer>526</integer>
				<integer>527</integer>
				<integer>528</integer>
				<integer>529</integer>
				<integer>530</integer>
				<integer>531</integer>
				<integer>532</integer>
				<integer>533</integer>
				<integer>534</integer>
				<integer>535</integer>
				<integer>536</integer>
				<integer>537</integer>
				<integer>538</integer>
				<integer>539</integer>
				<integer>540</integer>
				<integer>541</integer>
				<integer>542</integer>
				<integer>543</integer>
				<integer>544</integer>
				<integer>545</integer>
				<integer>546</integer>
				<integer>547</integer>
				<integer>548</integer>
				<integer>549</integer>
				<integer>550</integer>
				<integer>860</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>三菱</string>
			<key>indexs</key>
			<array>
				<integer>551</integer>
				<integer>552</integer>
				<integer>553</integer>
				<integer>554</integer>
				<integer>555</integer>
				<integer>556</integer>
				<integer>557</integer>
				<integer>558</integer>
				<integer>559</integer>
				<integer>560</integer>
				<integer>561</integer>
				<integer>562</integer>
				<integer>563</integer>
				<integer>564</integer>
				<integer>565</integer>
				<integer>566</integer>
				<integer>567</integer>
				<integer>568</integer>
				<integer>569</integer>
				<integer>570</integer>
				<integer>571</integer>
				<integer>572</integer>
				<integer>573</integer>
				<integer>574</integer>
				<integer>575</integer>
				<integer>576</integer>
				<integer>577</integer>
				<integer>578</integer>
				<integer>579</integer>
				<integer>580</integer>
				<integer>581</integer>
				<integer>582</integer>
				<integer>583</integer>
				<integer>584</integer>
				<integer>585</integer>
				<integer>586</integer>
				<integer>587</integer>
				<integer>588</integer>
				<integer>589</integer>
				<integer>590</integer>
				<integer>591</integer>
				<integer>592</integer>
				<integer>593</integer>
				<integer>594</integer>
				<integer>595</integer>
				<integer>596</integer>
				<integer>597</integer>
				<integer>598</integer>
				<integer>599</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>LG</string>
			<key>indexs</key>
			<array>
				<integer>600</integer>
				<integer>601</integer>
				<integer>602</integer>
				<integer>603</integer>
				<integer>604</integer>
				<integer>605</integer>
				<integer>606</integer>
				<integer>607</integer>
				<integer>608</integer>
				<integer>609</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>三星</string>
			<key>indexs</key>
			<array>
				<integer>610</integer>
				<integer>611</integer>
				<integer>612</integer>
				<integer>613</integer>
				<integer>614</integer>
				<integer>615</integer>
				<integer>616</integer>
				<integer>617</integer>
				<integer>618</integer>
				<integer>619</integer>
				<integer>620</integer>
				<integer>621</integer>
				<integer>622</integer>
				<integer>623</integer>
				<integer>624</integer>
				<integer>625</integer>
				<integer>626</integer>
				<integer>627</integer>
				<integer>628</integer>
				<integer>629</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>东芝</string>
			<key>indexs</key>
			<array>
				<integer>630</integer>
				<integer>631</integer>
				<integer>632</integer>
				<integer>633</integer>
				<integer>634</integer>
				<integer>635</integer>
				<integer>636</integer>
				<integer>637</integer>
				<integer>638</integer>
				<integer>639</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>日立</string>
			<key>indexs</key>
			<array>
				<integer>640</integer>
				<integer>641</integer>
				<integer>642</integer>
				<integer>643</integer>
				<integer>644</integer>
				<integer>645</integer>
				<integer>646</integer>
				<integer>647</integer>
				<integer>648</integer>
				<integer>649</integer>
				<integer>650</integer>
				<integer>651</integer>
				<integer>652</integer>
				<integer>653</integer>
				<integer>654</integer>
				<integer>655</integer>
				<integer>656</integer>
				<integer>657</integer>
				<integer>658</integer>
				<integer>659</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>乐声</string>
			<key>indexs</key>
			<array>
				<integer>660</integer>
				<integer>661</integer>
				<integer>662</integer>
				<integer>663</integer>
				<integer>664</integer>
				<integer>665</integer>
				<integer>666</integer>
				<integer>667</integer>
				<integer>668</integer>
				<integer>669</integer>
				<integer>670</integer>
				<integer>671</integer>
				<integer>672</integer>
				<integer>673</integer>
				<integer>674</integer>
				<integer>675</integer>
				<integer>676</integer>
				<integer>677</integer>
				<integer>678</integer>
				<integer>679</integer>
				<integer>680</integer>
				<integer>681</integer>
				<integer>682</integer>
				<integer>683</integer>
				<integer>684</integer>
				<integer>685</integer>
				<integer>686</integer>
				<integer>687</integer>
				<integer>688</integer>
				<integer>689</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>开利</string>
			<key>indexs</key>
			<array>
				<integer>690</integer>
				<integer>691</integer>
				<integer>692</integer>
				<integer>693</integer>
				<integer>694</integer>
				<integer>695</integer>
				<integer>696</integer>
				<integer>697</integer>
				<integer>698</integer>
				<integer>699</integer>
				<integer>890</integer>
				<integer>891</integer>
				<integer>892</integer>
				<integer>893</integer>
				<integer>894</integer>
				<integer>895</integer>
				<integer>896</integer>
				<integer>897</integer>
				<integer>898</integer>
				<integer>899</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>富士通（珍宝）</string>
			<key>indexs</key>
			<array>
				<integer>700</integer>
				<integer>701</integer>
				<integer>702</integer>
				<integer>703</integer>
				<integer>704</integer>
				<integer>705</integer>
				<integer>706</integer>
				<integer>707</integer>
				<integer>708</integer>
				<integer>709</integer>
				<integer>710</integer>
				<integer>711</integer>
				<integer>712</integer>
				<integer>713</integer>
				<integer>714</integer>
				<integer>715</integer>
				<integer>716</integer>
				<integer>717</integer>
				<integer>718</integer>
				<integer>719</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>声宝</string>
			<key>indexs</key>
			<array>
				<integer>720</integer>
				<integer>721</integer>
				<integer>722</integer>
				<integer>723</integer>
				<integer>724</integer>
				<integer>725</integer>
				<integer>726</integer>
				<integer>727</integer>
				<integer>728</integer>
				<integer>729</integer>
				<integer>730</integer>
				<integer>731</integer>
				<integer>732</integer>
				<integer>733</integer>
				<integer>734</integer>
				<integer>735</integer>
				<integer>736</integer>
				<integer>737</integer>
				<integer>738</integer>
				<integer>739</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>大金</string>
			<key>indexs</key>
			<array>
				<integer>740</integer>
				<integer>741</integer>
				<integer>742</integer>
				<integer>743</integer>
				<integer>744</integer>
				<integer>745</integer>
				<integer>746</integer>
				<integer>747</integer>
				<integer>748</integer>
				<integer>749</integer>
				<integer>750</integer>
				<integer>751</integer>
				<integer>752</integer>
				<integer>753</integer>
				<integer>754</integer>
				<integer>755</integer>
				<integer>756</integer>
				<integer>757</integer>
				<integer>758</integer>
				<integer>759</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>惠而浦</string>
			<key>indexs</key>
			<array>
				<integer>770</integer>
				<integer>771</integer>
				<integer>772</integer>
				<integer>773</integer>
				<integer>774</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>YORK</string>
			<key>indexs</key>
			<array>
				<integer>775</integer>
				<integer>776</integer>
				<integer>777</integer>
				<integer>778</integer>
				<integer>779</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>凉宇</string>
			<key>indexs</key>
			<array>
				<integer>780</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>现代（大宇）</string>
			<key>indexs</key>
			<array>
				<integer>780</integer>
				<integer>781</integer>
				<integer>782</integer>
				<integer>783</integer>
				<integer>784</integer>
				<integer>785</integer>
				<integer>786</integer>
				<integer>787</integer>
				<integer>788</integer>
				<integer>789</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>AKIRA</string>
			<key>indexs</key>
			<array>
				<integer>796</integer>
				<integer>797</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>KLIMATAIR</string>
			<key>indexs</key>
			<array>
				<integer>797</integer>
				<integer>798</integer>
				<integer>799</integer>
				<integer>800</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>LOREN-SEBO</string>
			<key>indexs</key>
			<array>
				<integer>801</integer>
				<integer>802</integer>
				<integer>803</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>NIKKO</string>
			<key>indexs</key>
			<array>
				<integer>810</integer>
				<integer>811</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>SUNBURG</string>
			<key>indexs</key>
			<array>
				<integer>817</integer>
				<integer>818</integer>
				<integer>819</integer>
				<integer>820</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>稻田</string>
			<key>indexs</key>
			<array>
				<integer>821</integer>
				<integer>822</integer>
				<integer>823</integer>
				<integer>824</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>TOYO(东洋)</string>
			<key>indexs</key>
			<array>
				<integer>825</integer>
				<integer>826</integer>
				<integer>827</integer>
				<integer>828</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>飞歌</string>
			<key>indexs</key>
			<array>
				<integer>829</integer>
				<integer>830</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>长府</string>
			<key>indexs</key>
			<array>
				<integer>835</integer>
				<integer>836</integer>
				<integer>837</integer>
				<integer>838</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>歌林</string>
			<key>indexs</key>
			<array>
				<integer>850</integer>
				<integer>851</integer>
				<integer>852</integer>
				<integer>853</integer>
				<integer>854</integer>
				<integer>855</integer>
				<integer>856</integer>
				<integer>857</integer>
				<integer>858</integer>
				<integer>859</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>ALPIN</string>
			<key>indexs</key>
			<array>
				<integer>989</integer>
				<integer>990</integer>
				<integer>991</integer>
				<integer>998</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>AMCOR</string>
			<key>indexs</key>
			<array>
				<integer>501</integer>
				<integer>508</integer>
				<integer>509</integer>
				<integer>532</integer>
				<integer>973</integer>
				<integer>978</integer>
				<integer>979</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>AMICO</string>
			<key>indexs</key>
			<array>
				<integer>982</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>BOERKA</string>
			<key>indexs</key>
			<array>
				<integer>630</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>CONSUL</string>
			<key>indexs</key>
			<array>
				<integer>993</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>ELCO</string>
			<key>indexs</key>
			<array>
				<integer>982</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>ELECTER</string>
			<key>indexs</key>
			<array>
				<integer>981</integer>
				<integer>982</integer>
				<integer>983</integer>
				<integer>984</integer>
				<integer>985</integer>
				<integer>986</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>FEDDERS</string>
			<key>indexs</key>
			<array>
				<integer>878</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>NORCA</string>
			<key>indexs</key>
			<array>
				<integer>994</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>SPEED</string>
			<key>indexs</key>
			<array>
				<integer>987</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>TADIAIR</string>
			<key>indexs</key>
			<array>
				<integer>501</integer>
				<integer>508</integer>
				<integer>509</integer>
				<integer>532</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>TADIRAN</string>
			<key>indexs</key>
			<array>
				<integer>501</integer>
				<integer>508</integer>
				<integer>509</integer>
				<integer>532</integer>
				<integer>630</integer>
				<integer>969</integer>
				<integer>978</integer>
				<integer>979</integer>
				<integer>991</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>杂牌组装机</string>
			<key>indexs</key>
			<array>
				<integer>44</integer>
				<integer>90</integer>
				<integer>92</integer>
				<integer>95</integer>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>其他品牌</string>
			<key>indexs</key>
			<array>
				<integer>496</integer>
				<integer>498</integer>
				<integer>821</integer>
				<integer>822</integer>
				<integer>823</integer>
				<integer>824</integer>
				<integer>825</integer>
				<integer>826</integer>
				<integer>827</integer>
				<integer>828</integer>
				<integer>839</integer>
				<integer>840</integer>
				<integer>841</integer>
				<integer>842</integer>
				<integer>843</integer>
				<integer>844</integer>
				<integer>845</integer>
				<integer>846</integer>
				<integer>847</integer>
				<integer>848</integer>
				<integer>849</integer>
				<integer>865</integer>
				<integer>866</integer>
				<integer>867</integer>
				<integer>868</integer>
				<integer>869</integer>
				<integer>870</integer>
				<integer>871</integer>
				<integer>872</integer>
				<integer>873</integer>
				<integer>874</integer>
				<integer>875</integer>
				<integer>876</integer>
				<integer>877</integer>
				<integer>905</integer>
				<integer>906</integer>
				<integer>907</integer>
				<integer>908</integer>
				<integer>909</integer>
				<integer>910</integer>
				<integer>911</integer>
				<integer>912</integer>
				<integer>913</integer>
				<integer>914</integer>
				<integer>915</integer>
				<integer>916</integer>
				<integer>917</integer>
				<integer>918</integer>
				<integer>919</integer>
				<integer>920</integer>
				<integer>921</integer>
				<integer>922</integer>
				<integer>923</integer>
				<integer>924</integer>
				<integer>925</integer>
				<integer>926</integer>
				<integer>927</integer>
				<integer>928</integer>
				<integer>929</integer>
				<integer>930</integer>
				<integer>931</integer>
				<integer>932</integer>
				<integer>933</integer>
				<integer>934</integer>
				<integer>935</integer>
				<integer>936</integer>
				<integer>937</integer>
				<integer>938</integer>
				<integer>939</integer>
				<integer>940</integer>
				<integer>941</integer>
				<integer>942</integer>
				<integer>943</integer>
				<integer>944</integer>
				<integer>945</integer>
				<integer>946</integer>
				<integer>947</integer>
				<integer>948</integer>
				<integer>949</integer>
				<integer>950</integer>
				<integer>951</integer>
				<integer>952</integer>
				<integer>953</integer>
				<integer>954</integer>
				<integer>955</integer>
				<integer>956</integer>
				<integer>957</integer>
				<integer>958</integer>
				<integer>959</integer>
				<integer>960</integer>
				<integer>961</integer>
				<integer>962</integer>
				<integer>963</integer>
				<integer>964</integer>
				<integer>965</integer>
				<integer>966</integer>
				<integer>967</integer>
				<integer>968</integer>
				<integer>969</integer>
				<integer>970</integer>
				<integer>971</integer>
				<integer>972</integer>
				<integer>973</integer>
				<integer>974</integer>
				<integer>975</integer>
				<integer>976</integer>
				<integer>999</integer>
			</array>
		</dict>
	</array>
</plist>
